# ----------------------
# Flask
# ----------------------
flask

# ----------------------
# Production Server
# ----------------------
gunicorn

# ----------------------
# Python related
# ----------------------
numpy
tensorflow
requests